.notification-container {
  position: fixed;
  top: -100px; /* start off-screen */
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  z-index: 1000;
}

.notification-container.show {
  top: 20%; /* slide down into view */
  opacity: 1;
}

.notification-contents {
  background:white;
  color: #333;
  padding: 20px 40px;
  border-radius: 10px;
  border: 2px solid  rgb(9, 25, 190);
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  font-size: 1rem;
  text-align: center;
  position: relative;
  min-width: 300px;
  max-width: 400px;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 2rem;
  background: none;
  border: none;
  box-shadow: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #000;
}

.message{
    color: #000;
    font-weight: 400;
    margin-left: 0;
}
