img{
    height: 80vh;
    width: 100vb;
    margin-left: 9rem;
}
 
.Pagespace{
    margin-top: 2rem;
    padding-left: 6rem;
}

h1{
    margin-left: 14rem;
}

.BookCheck{
    color:  rgb(9, 25, 190);
}

p{
     margin-left: 16.5rem;
     font-weight: bold;
}